{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
      {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.identification_number) }}
        {{ form_row(registrationForm.code) }}

            <div>
                <select id="registration_form_username" name="registration_form[username]" required="required" placeholder="Choose username" class="form-control paddin-button-7">
                    <option value="" id="text_gray">Choose username</option>
                    {% for item in usernames %}
                        <option value="{{ item|lower }}">{{ item|lower }}</option>
                    {% endfor %}

                </select>
            </div>


        {{ form_row(registrationForm.plainPassword, {

        }) }}
       {# {{ form_row(registrationForm.agreeTerms) }}#}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
