<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/disaa.css') }}">
        <link rel="script" href="{{ asset('js/register.js') }}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header class="p-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-white"><h5>DISSA</h5></a></li>
                    {#<li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>#}
                    {#<li><a href="#" class="nav-link px-2 text-white">Features</a></li>#}
                </ul>
                <script type="text/javascript">
                    function changeLanguageRegister() {
                        var pathname = window.location.pathname;
                        var URLsearch = window.location.search;
                        var url_completa = 'localhost:8000' + pathname;
                        if (pathname == '/en_US/register')
                            url_completa = 'http://localhost:8000' + '/es_ES/register' + URLsearch;
                        else
                            url_completa = 'http://localhost:8000' + '/en_US/register' + URLsearch;
                        //alert(url_completa);
                        window.location = url_completa;
                    }
                </script>
                <div class="px-1 mb-3 text-white">
                    {% if app.request.locale == 'en_US'%}
                        <button type="button" id="btn_registerChange" onclick="changeLanguageRegister()">ES</button>&nbsp|&nbsp
                    {% else %}
                        <button type="button" id="btn_registerChange" onclick="changeLanguageRegister()">EN</button>&nbsp|&nbsp
                    {% endif %}
                </div>

                {% if app.user %}
                    <div class="mb-3">
                        Hi {{ app.user.username }}, <a href="{{ path('app_logout') }}"> {% trans %}base.logout{% endtrans %}</a>
                    </div>
                {% else %}
                    <div class="text-end mb-3">
                        <a href="{{ path('app_login') }}">  {% trans %}base.login{% endtrans %}</a>
                        {#<button type="button" class="btn btn-outline-light me-2">Login</button>#}
                    </div>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="container">
        <div class="image_container_left">
            {{  include('flash/success.html.twig') }}
            {{  include('flash/error.html.twig') }}
            <div>
                <div class="bg-light p-5 rounded">
                    <div class="col-sm-4 mx-auto">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="container display_none">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">{% trans %}base.footer{% endtrans %}</a></li>
            </ul>
            <p class="text-center text-muted">© 2022 DISAA, Inc</p>
        </footer>
    </div>
    </body>
</html>
