{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    {% if  app.user.type == 'Administrative' %}
        <a id="goToEmail" href="{{ path('app_email_new',{'username':app.user.username}) }}" title="{% trans %}editUser.goToEmail {% endtrans %}"> <i class="material-icons" style="font-size:36px">email</i></a>
    {% endif %}

    <h1 class="text-center paddin-button-7"> {% if user.type=='Student' %}{% trans %}editUser.student{% endtrans %}{% else %} {% trans %}editUser.administrative{% endtrans %}{% endif %}</h1>

    <div id="principal">
        <div id="principal_img">
            <img src="{{ asset('img/avatar.png')}}" class="rounded responsive" alt="">
        </div>
        <div id="principal_datos">
            <div class="detail_account"> <h3>{{ user.name }} {{ last_name }} </h3></div>
            <div class="detail_account"><span class="label_info"> {% trans %}editUser.student{% endtrans %}: </span>{{ user.username }}</div>
            <div class="detail_account"> <span class="label_info">{% trans %}editUser.email{% endtrans %}: </span>{{ user.account.email}} </div>
        </div>
    </div>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    {#<a href="{{ path('app_user_index') }}">back to list</a>#}

    {#{{ include('user/_delete_form.html.twig') }}#}
{% endblock %}
